/* style general
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  color: #26292E;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #F2F8F6;
  padding: 30px 0 60px 0;
}

.image, .text{
  width: 50%;
}

.image{
  position: relative;
  max-width: 480px;
  height: 577px;
}

svg:nth-child(2){
  top: 48px;
  left: 33px;
}

svg:nth-child(3){
  left: 145px;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}

.text{
  margin: 85px 0 0 42px;
  max-width: 550px;
}

h2{
  margin: 0 0 19px 0;
}

p{
  margin: 0 0 23px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.benefits{
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 13px 0;
  padding: 0 0 0 15px;
}

.benefits::before{
  content: url("image/Vector.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 13px;
}

button{
  background: #408858;
  color: #fff;
  border-radius: 2px;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 33px 17px 52px;
  margin: 42px 0 0 0;
}

